#naslov {
    margin-top: 30px;
}

#div-tbl-pocetna {
    margin-top: 30px;
    width: 80%;
    margin-left: 200px;
}


#id-col {
    width: 20px;
}

#tip-col {
    width: 50px;
}

#rasa-col {
    width: 50px;
}

#ime-col {
    width: 70px;
}

#godine-col {
    width: 30px;
}

#boja-col {
    width: 30px;
}

#imev-col {
    width: 50px;
}

#prezime-col {
    width: 50px;
}

#izmena-brisanje {
    width: 50px;
}

#btn_novi_ljubimac {
    margin-top: 25px;
    height: 50px;
    width: 250px;
    margin-left: 43%;
}

#forma-novi-ljubimac {
    width: 15%;
    margin-left: 40%;
    margin-top: 2%;
    text-align: center;
}

#pocetna-btn {
    margin-top: 30px;
    margin-left: 45%;
}

#forma-izmena-ljubimac {
    width: 15%;
    margin-left: 42%;
    margin-top: 2%;
    margin-bottom: 50px;
    text-align: center;
}

#btn_pretraga_sort {
    margin-top: 25px;
    height: 50px;
    width: 250px;
    margin-left: 41%;
}

#sort-div {
    margin-top: 2%;
    margin-left: 18%;
    width: 60%;
}

#sort-naslov {
    margin-left: 40%;
    margin-top: 2%;
}